@charset 'UTF-8';

body{
    background-color: rgb(230, 231, 231);
}
header{
    background-color: rgba(177, 30, 30, 0.842);
    padding: 10px;
    margin-top: -20px;
    margin: -20px -8px;
}
header h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
section{
   background-color: rgba(112, 22, 22, 0.842);
   width: 500px;
   height: 480px;
   margin-left: 200 px;
   margin-top: 50px;
}
p{
   text-align: center;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
}
input{
 margin-left: 150px;
 width: 200px;
 height: 20px;
}
input#calc{
    position: absolute;
    margin-top: 55px;
    width: 70px;
    height: 25px;
    margin-left: -130px;
}
div#res{
   position: absolute;
   background-color: rgba(112, 22, 22, 0.842);
   width: 500px;
   height: 480px;
   margin-left:600px;
   margin-top: -480px;
   color: white;
   text-align: center;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: underline;
}
div#ress{
    color: white;
   text-align: center;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: underline;
}